html, body 
{
 height: 100%;
 margin: 0;
 padding: 0;
 overflow: hidden; /*Evita la comparsa della barra di scorrimento*/
}

.wrapper
{
 font-family: "Lato", sans-serif;
 font-weight: 400;
 font-style: normal;

 display:flex;
 flex-direction:column;
 min-height: 0; /*Per evitare overflow*/
 height: 100%;
}

.container_sidebar_content
{
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap; /*Non va a capo, rimane sulla stessa riga*/
 justify-content: flex-start;
 align-items: stretch;
 flex:1; /*Occupa tutto lo spazio rimanente*/
 min-height: 0; /*Per evitare overflow*/
}

.header
{
 background-color:#3B2A1A;
 color:#F5EEDC;
 border-bottom: 1px solid #D7C3A3;
 padding:10px;
}

.sidebar
{
 display: flex;
 background-color:#6E4F2B;
 color:#F5EEDC;
 width: 200px;
 flex-direction: column;
 border-right: 1px solid #D7C3A3;
 padding:10px;
 gap: 20px;
 padding-top: 20px;
}
.sidebar a 
{ 
 width: 100%;
 margin-bottom: 10px; 
 text-decoration: none;
 padding-bottom: 10px;
}
.sidebar a:link { color:#F5EEDC; }
.sidebar a:visited { color:#F5EEDC; }
.sidebar a.active 
{ 
 color:#F5EEDC;
 border-bottom: 2px solid #00A86B; 
 font-weight: bold;
}
.sidebar a:hover 
{ 
 color:#00A86B; 
 border-bottom: 2px solid #00A86B;
}

.content
{
 display: flex;

 background-color:#F5EEDC;
 color:#3B2A1A;
 flex:1; /*Occupa tutto lo spazio rimanente*/
 padding:10px;
 flex-direction: column;
 overflow-y:auto; /*Abilita la barra di scorrimento verticale se necessario*/
}
.content>.home
{
 display: flex;
 flex:1;
 font-size: 30px;
 text-align: center;
 justify-content: center;
 align-items: center;
}
.content>iframe
{ 
	width:100%;
 height:100%;
 border:none; 
 flex:1;
}
.content>.form
{
 display: flex;
 flex-direction: column;
 align-items:center;
 font-size: 20px;
 
 justify-content: flex-start;
}
.form-top 
{
 display: flex;
 align-items: flex-start;
 width: 100%;
}
.form-top>.json
{
 display: flex;
 flex-direction: column;
 text-align: right;
}
.form-top form 
{
 margin: 0 auto;
 text-align: center;
}
.form-top form input 
{
 margin-bottom: 12px; /* spazio tra i campi */
}
.form-top>.xml-status 
{
 text-align: left;
}
.content>.form>.tabella
{
 margin-top: 30px;
 width:90%;
 font-size: 16px;
 border-collapse: collapse;
 padding: 10px;
 margin-left: auto;
 margin-right: auto; 
}
.content>.form>.tabella th 
{
 border-bottom: 1px solid #2F5D3A;
 padding: 6px 10px;
 text-align: left;
}
.content>.form>.tabella td 
{
 border-bottom: 1px solid #2F5D3A;
 padding: 6px 10px;
}

.content>.view_json
{
 font-size: 14px;
}

.footer
{
 background-color:#3B2A1A;
 color:#F5EEDC;
 text-align: center;
 border-top: 1px solid #D7C3A3;
}